@import 'https://use.fontawesome.com/releases/v5.0.12/css/all.css';

html, body, div#root, aside { height: 100%; }
h1, h2, h3, h4 {
  line-height: 1;
}
h1 { font-size: 2em; }
h2 { font-size: 1.8em; }
h3 { font-size: 1.6em; }
h4 { font-size: 1.4em; }

hr { margin: 2rem 0 2.5rem 0; }

body {
  background-color: #ddd;
}

#root {
  box-sizing: border-box;
  width: 1000px;
  margin: 0 auto;
  background-color: #fff;
  overflow: auto;
}

#app {
  overflow: hidden;
}

#sidebar {
  xpadding: 0 0 0 10px;
}

aside {
  box-sizing: border-box;
  width: 200px;
  position: fixed;
}

aside ul {
  list-style: none;
}

aside ul#localnav li {
  padding: 10px 15px;
  margin: 0;
}

aside ul#localnav li.active {
  background-color: lightgoldenrodyellow;
}

aside ul#localnav li:hover {
  background-color: lightgoldenrodyellow;
  cursor: pointer;
}

main {
  box-sizing: border-box;
  width: 800px;
  float: right;
  padding: 30px;
}

main.full-width {
  width: 970px;
}

table {
  margin-bottom: 0;
}
table.file-table tbody tr:hover {
  background-color: lightskyblue;
  cursor: pointer;
}

td.w10 { width: 10%; }
td.w15 { width: 15%; }
td.w20 { width: 20%; }

.example-appear {
  opacity: 0.01;
}
.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}
.example-enter {
  opacity: 0.1;
}
.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}
.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 100ms ease-in;
}

/*
enter.active -> enter
leave.active -> leave
*/
.fileanim-enter {
  transform: translateY(-100px) scaleY(0);
}
.fileanim-enter.fileanim-enter-active {
  transition: transform 200ms linear;
  transform: translateY(0px) scaleY(1);
}
.fileanim-leave {
  transition: transform 200ms linear;
  transform: translateY(-100px) scaleY(0);
}

.right {
  float: right;
}

div.cleaer {
  clear: both;
  line-height: 0;
}

.files-section {
  margin-bottom: 50px;
}
.files-section h2 {
  margin: 0;
}

div.event {
  margin-bottom: 30px;
}

div.event div.green {
  background-color: lightgreen;
}
div.event div.yellow {
  background-color: lightgoldenrodyellow;
}
div.event div.red {
  background-color: pink;
}

div.event div.red, div.event div.yellow, div.event div.green {
  padding: 10px 0;
  border-radius: 0 0 5px 5px;
  font-weight: bold;
  font-size: 1.5em;
}

div.event-row-left {
  text-align: center;
}
div.event-time, div.event-time-no-attendance {
  background-color: #000;
  color: #fff;
  padding: 5px 0;
  border-radius: 5px 5px 0 0;
}

div.event-time-no-attendance {
  border-radius: 5px;
}

.hidden {
  display: none;
}


div.event.row:hover{
  cursor: pointer;
  background-color: lightskyblue;
}

div.event-row-right h3, div.event-row-right p {
  margin-bottom: 5px;
}

div.contentbox {
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 4rem;
  box-shadow: 0px 0px 5px 0px rgba(100,100,100,0.5);
}

div.contentbox header h2 {
  margin: 0;
}

div.contentbox header button.minimize {
  padding: 0;
  letter-spacing: 0;
  line-height: 0;
  width: 25px;
  height: 25px;
}

div.event-list {
  padding-left: 15px;
}

div#minimizer {
  background-color: #ededed;
  margin-left: 0 !important;
}

div#minimizer:hover {
  cursor: pointer;
  background-color: #fafafa;
}

div#minimizer i {
  position: relative;
  top: 50%;
  left: 25%;
}

.h100 {
  height: 100%;
}